@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply overflow-hidden w-full h-full m-0 p-0;
}

@keyframes loading-bar {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-loading-bar {
  animation: loading-bar 3s linear forwards;
}
